

<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"><meta charset="utf-8">
<title>おしゃべりさん応援企画</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//assets.peraichi.com/template_root/v2/template_files/css/style.css?1737001535" rel="stylesheet">
<link href="//assets.peraichi.com/template_root/v2/template_files/css/preset-pale.css?1737001535" rel="stylesheet">
<link href="//assets.peraichi.com/template_root/v2/template_files/css/theme/vitamin.css?1737001536" rel="stylesheet" id="js-theme-css-file" data-filename="vitamin.css">

<script src="//assets.peraichi.com/js/const_common.js"></script><script src="//assets.peraichi.com/js/const_env.js"></script><script src="//webfont.fontplus.jp/accessor/script/fontplus.js?5qoPx6QyJ8k%3D&aa=1" charset="utf-8"></script>
<meta property="og:image" content="https://cdn.peraichi.com/userData/153b4a7b-f180-4ec9-a1e0-36bddd6406d7/ogp/2024148.png">
<meta property="og:url" content="http://x1qoi.hp.peraichi.com"><script type="text/javascript" src="//assets.peraichi.com/js/libs/lazysizes.min.js?1737001534"></script><script type="text/javascript" src="//assets.peraichi.com/js/lazyLoad.js?1737001534"></script><script type="text/javascript" src="//assets.peraichi.com/cjs/dist/peraichi_setting.js?1737001819"></script>
<link rel="canonical" href="https://x1qoi.hp.peraichi.com" /></head>

  <body class="theme-blank theme-custom theme-nature template-theme-vitamin fp_dnp_shuei_go_kin_std-m" data-template-name="blank" style="overflow: auto; padding-top: 0px;" data-is-initial-val-of-template-theme="11" data-is-available-on-template-theme="true">
        <div class="pera1-section block" data-structure="b-main-img--full" data-block-name="画像(フルサイズ)" data-optional-block-settings-key="0" id="section-33">
  <div class="p-main-img--full">
    
  </div>
</div>
<div class="link-container c-img c-img--responsive c-img--circle u-mbmd pera1-removable">
    <a href="https://play.google.com/store/apps/details?id=jp.obs.chatter" style="display: flex; align-items: center;">
      <div class="applink">
        🎉 声でつながろう！
10分で アマギフ500円 ゲット！<br>
安心・安全におしゃべりしよう！🎧💬<br>
今すぐダウンロード！
      </div>
      <div class="link-image"><img src="http://52.221.236.229:8069/media/logo/logo.png" alt="IMAGE" style="width: 300px; height: 100px;"></div>
    </a>
  </div>
<div class="pera1-section block" data-structure="b-article-has-number" data-block-name="右画像(数字・リボン付)" data-optional-block-settings-key="1" id="section-41">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="0">
    <div class="c-wrapper">
      <div class="c-inner c-inner--lg c-inner--one-elem c-inner--vertical u-ptlg--sp">
        <div class="c-border c-inner" style="position: relative; border-radius:20px;">
          <div class="grid-wrapper grid-wrapper--full u-mbmd">
            <div class="row row-item-gutter--lg">
              <div class="col-xs-12 col-sm-5 basis-auto-sm pera1-removable">
                <div class="c-img c-img--responsive"><img class="pera1-editable" src="//cdn.peraichi.com/userData/153b4a7b-f180-4ec9-a1e0-36bddd6406d7/img/6728787d311eb/original.png" alt="" data-structure="e-img" style="">
                </div>
              </div>
              <div class="col-xs-12 col-sm first-sm" style="margin-top:30px;">
                <div class="p-article-has-number__ribbon">
                  <div class="p-article-has-number__ribbon-label pera1-editable">
                    <div data-structure="e-text" class="pera1-editable">おしゃべりしてアマギフをもらおう！</div>
                  </div>
                </div>
                <div class="p-article-has-number__circle">
                  <div class="p-article-has-number__circle-label u-fsxxxxl pera1-editable">
                    <div data-structure="e-text" class="pera1-editable"><div>⚪︎</div></div>
                  </div>
                </div>
                <div class="c-heading c-heading--block-main u-mbmd pera1-removable">
                  <h2 data-structure="e-heading" class="pera1-editable"><div><strong><span data-custom-sp-fontsize="16px">声でつながる通話マッチングアプリ<br>「<span style="color: #f7c90f;">おしゃべりさん</span>。」<span style="color: #389adc;">google play</span></span></strong></div></h2>
                </div>
                <div class="u-mbmd pera1-removable">
                  <div data-structure="e-text" class="pera1-editable"><div>
<p>はじめまして、アプリ運営事務局の坂本舞香です。<br><br>通話アプリ「おしゃべりさん。」はやらせ、さくらなしの健全で安全な運営の声で繋がる通話マッチングアプリです。<br><br><strong><span style="color: #d35400;" data-custom-sp-fontsize="14px">・10分でアマゾンギフト500円分</span></strong><br><br>当アプリでは、ご利用していただける女性ユーザー様へ<span style="color: #d35400;">アマギフプレゼントキャンペーンを随時</span>行なっております。<br><br>お得に楽しくおしゃべりしていただく事で、やらせなし、さくらなし、みんなが楽しめる通話アプリになると考えています。</p>
<p><span style="color: #d35400;">声でつながり</span><br><span style="color: #d35400;">おしゃべりができて</span><br><span style="color: #d35400;">出会いも得られて</span><br><span style="color: #d35400;">アマギフも貰える。</span></p>
</div></div>
                </div>
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article-has-number" data-block-name="右画像(数字・リボン付)" data-optional-block-settings-key="2" id="section-36">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="1">
    <div class="c-wrapper">
      <div class="c-inner c-inner--lg c-inner--one-elem c-inner--vertical u-ptlg--sp">
        <div class="c-border c-inner" style="position: relative; border-radius:20px;">
          <div class="grid-wrapper grid-wrapper--full u-mbmd">
            <div class="row row-item-gutter--lg">
              <div class="col-xs-12 col-sm-5 basis-auto-sm pera1-removable">
                <div class="c-img c-img--responsive"><img class="pera1-editable" src="//cdn.peraichi.com/userData/153b4a7b-f180-4ec9-a1e0-36bddd6406d7/img/6725c436b1484/original.jpg" alt="" data-structure="e-img" style="">
                </div>
              </div>
              <div class="col-xs-12 col-sm first-sm" style="margin-top:30px;">
                <div class="p-article-has-number__ribbon">
                  <div class="p-article-has-number__ribbon-label pera1-editable">
                    <div data-structure="e-text" class="pera1-editable"><div>声のマッチング、おしゃべりさん。</div></div>
                  </div>
                </div>
                <div class="p-article-has-number__circle">
                  <div class="p-article-has-number__circle-label u-fsxxxxl pera1-editable">
                    <div data-structure="e-text" class="pera1-editable"></div>
                  </div>
                </div>
                <div class="c-heading c-heading--block-main u-mbmd pera1-removable">
                  <h2 data-structure="e-heading" class="pera1-editable"><strong>おしゃべりさんって？</strong></h2>
                </div>
                <div class="u-mbmd pera1-removable">
                  <div data-structure="e-text" class="pera1-editable"><div>
<p>おしゃべりさんは、日本全国の男女が地域関係なく、<span data-custom-sp-fontsize="14px"><span style="color: #d35400;">声のトーン</span>や<span style="color: #d35400;">話し方、</span><span style="color: #d35400;">見た目ではわからない部分の良さ</span>を<span style="color: #d35400;">お互いに伝えられる</span>通話マッチングアプリです。</span></p>
<p>夜、誰かと話したい時も。<br>聞いて欲しい話がある時も。<br>趣味の話がしたい時も。<br>恋の話がしたい時も。<br>男心が知りたい時も。<br>女心が知りたい時も。<br>暇を潰したい時も。<br>恋人を探したい時も。<br>結婚相手を探したい時も。</p>
<p>いつでもどこでも。<br>日本全国のユーザーとおしゃべりを楽しめます。</p>
<p><span style="text-decoration: underline;">通常のマッチングアプリ</span>に飽きた人へ<br><span style="color: #f27e18;" data-custom-sp-fontsize="22px">新提案、新定番</span>アプリです。<br><br>女性利用者様には<br><span style="color: #d35400;" data-custom-sp-fontsize="16px">随時プレゼント企画実施中</span>。</p>
<p>受け取りステップは下記↓↓↓</p>
</div></div>
                </div>
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-premium-steps" data-block-name="ステップ" data-optional-block-settings-key="3" id="section-38">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="2">
    <div class="p-premium-steps">
      <div class="c-wrapper">
        <div class="c-inner c-inner--lg c-inner--one-elem c-inner--vertical">
          <div class="p-premium-steps__heading c-heading c-heading--block-main u-align-center u-mbmd pera1-removable">
            <h2 data-structure="e-heading" class="pera1-editable"><div><span style="color: #ff8b7f;"><strong>▼出会いもアマギフも両方GET</strong></span></div></h2>
          </div>
          <div class="grid-wrapper grid-wrapper--full">
            <div class="p-premium-steps__list">
              <div class="row center-xs">
                <div class="col-sm-4 col-xs-12 start-xs p-premium-steps__arrow pera1-removable">
                  <div class="p-premium-steps__item">
                    <div class="p-premium-steps__item-header u-mbmd pera1-removable">
                      <div class="p-premium-steps__item-num pera1-removable">
                        <div class="pera1-editable" data-structure="e-text">STEP 1</div>
                      </div>
                      <div class="p-premium-steps__item-heading u-fsmd pera1-removable">
                        <div data-structure="e-text" class="pera1-editable"><div>まずはインストール</div></div>
                      </div>
                    </div>
                    <div class="p-premium-steps__item-img c-img c-img--responsive u-mbmd u-align-center pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/153b4a7b-f180-4ec9-a1e0-36bddd6406d7/img/6728787d311eb/original.png" alt="" data-structure="e-img" style="">
                    </div>
                    <div class="p-premium-steps__item-desc pera1-removable">
                      <div data-structure="e-text" class="pera1-editable"><div>
<p>ホームのキャンペーンリンクをクリックして参加します。参加すると<span style="color: #d35400;"><strong>無料通話20分と無料メール20通</strong></span>がもらえます！<br>さらにコイン購入ページから<strong><span style="color: #d35400;">10分/10通の無料分</span></strong>ももらえるので<strong><span style="color: #d35400;">合計30分/30通無料</span></strong>で受け取ってください。</p>
</div></div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-xs-12 start-xs p-premium-steps__arrow pera1-removable">
                  <div class="p-premium-steps__item">
                    <div class="p-premium-steps__item-header u-mbmd pera1-removable">
                      <div class="p-premium-steps__item-num pera1-removable">
                        <div class="pera1-editable" data-structure="e-text">STEP 2</div>
                      </div>
                      <div class="p-premium-steps__item-heading u-fsmd pera1-removable">
                        <div data-structure="e-text" class="pera1-editable">おしゃべりとギフト申請</div>
                      </div>
                    </div>
                    <div class="p-premium-steps__item-img c-img c-img--responsive u-mbmd u-align-center pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/153b4a7b-f180-4ec9-a1e0-36bddd6406d7/img/6725c4fcc7768/original.jpg" alt="" data-structure="e-img" style="">
                    </div>
                    <div class="p-premium-steps__item-desc pera1-removable">
                      <div data-structure="e-text" class="pera1-editable"><div><span style="color: #d35400;">ユーザー検索や掲示板</span>を使ってお話したい人を探したり募って通話を楽しんでください。<br><span style="color: #d35400;">10分通話するとアマギフポイントが10Pが</span>溜まります。<span style="color: #d35400;">10P＝500円分のアマギフと交換可能</span>です。<br>勿論、<span style="color: #d35400;">30分なら1500円分のアマギフ</span>がもらえます。</div></div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-xs-12 start-xs p-premium-steps__arrow pera1-removable" data-elem-name="premium-steps">
                  <div class="p-premium-steps__item">
                    <div class="p-premium-steps__item-header u-mbmd pera1-removable">
                      <div class="p-premium-steps__item-num pera1-removable">
                        <div class="pera1-editable" data-structure="e-text">STEP 3</div>
                      </div>
                      <div class="p-premium-steps__item-heading u-fsmd pera1-removable">
                        <div data-structure="e-text" class="pera1-editable"><div>受け取り</div></div>
                      </div>
                    </div>
                    <div class="p-premium-steps__item-img c-img c-img--responsive u-mbmd u-align-center pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/153b4a7b-f180-4ec9-a1e0-36bddd6406d7/img/6728787d311eb/original.png" alt="" data-structure="e-img" style="">
                    </div>
                    <div class="p-premium-steps__item-desc pera1-removable">
                      <div data-custom-sp-fontsize="13px" data-structure="e-text" class="pera1-editable"><p>通話ポイントが<span style="color: #d35400;">10P以上溜まっていれば申請</span>してみましょう！<br><span style="color: #d35400;">30Pたまれば1500円分</span>のアマギフもらえます！</p>
<p>原則男女ともに有料のアプリとなっておりますが、女性がお話しをしてくれてこそ盛り上がるアプリだと考えておりますので継続してアプリ盛り上げ企画を行なっていきます。</p>
<p>ぜひ、出会いもギフトもおしゃべりの楽しさも全部まとめて受け取って長くご利用いただければ幸いです。</p></div>
                    </div>
                  </div>
                </div>
              <div class="col-sm-4 col-xs-12 start-xs p-premium-steps__arrow pera1-removable pera1-ghost pera1-add pera1-multiple" data-elem-name="premium-steps" data-nosnippet="" style="opacity: 0; height: 50px;">
                  <div class="p-premium-steps__item">
                    <div class="p-premium-steps__item-header u-mbmd pera1-removable">
                      <div class="p-premium-steps__item-num pera1-removable">
                        <div class="pera1-editable" data-structure="e-text">STEP 3</div>
                      </div>
                      <div class="p-premium-steps__item-heading u-fsmd pera1-removable">
                        <div class="pera1-editable" data-structure="e-text">小見出し</div>
                      </div>
                    </div>
                    <div class="p-premium-steps__item-img c-img c-img--responsive u-mbmd u-align-center pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/default/im_image_square.svg" alt="" data-structure="e-img">
                    </div>
                    <div class="p-premium-steps__item-desc pera1-removable">
                      <div class="pera1-editable" data-structure="e-text">ここをクリックして表示したいテキストを入力してください。テキストは「右寄せ」「中央寄せ」「左寄せ」といった整列方向、「太字」「斜体」「下線」「取り消し線」、「文字サイズ」「文字色」「文字の背景色」など細かく編集することができます。</div>
                    </div>
                  </div>
                </div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article--bdr" data-block-name="上画像(枠付)" data-optional-block-settings-key="4" id="section-30">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="3">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--one-elem c-inner--vertical">
        <div class="c-border c-inner c-inner--lg p-article--bdr__box">
          
          <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/153b4a7b-f180-4ec9-a1e0-36bddd6406d7/img/6725cb0342905/original.jpg" alt="" data-structure="e-img" style="">
          </div>
          <div class="c-wrapper c-wrapper--no-gutter c-wrapper--sm u-mbmd pera1-removable">
            <div data-custom-sp-fontsize="20px" data-structure="e-text" class="pera1-editable"><div>
<p><span style="color: #d35400;" data-custom-sp-fontsize="18px">まずは10分<br></span><span style="color: #d35400; font-size: 18px;">おしゃべりしてみよう<br>アマギフキャンペーン</span></p>
</div></div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-others-conversational-text" data-block-name="会話風テキスト" data-optional-block-settings-key="5" id="section-29">
  <div class="p-others-conversational-text c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="4">
    <div class="c-wrapper">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="grid-wrapper grid-wrapper--full">
          <div class="row-item-gutter--lg center-xs center-reset--2col pera1-removable" data-elem-name="p-others-conversational-text">
            <div class="p-others-conversational-text__partner col-sm-6 col-xs-12 u-mbsm pera1-removable">
              <div class="grid-wrapper">
                <div class="row">
                  <div class="col-xs-3 col-md-4 basis-auto-md pera1-removable">
                    <div class="c-img c-img--responsive c-img--circle u-align-center u-mbsm"><img class="pera1-editable" src="//cdn.peraichi.com/userData/153b4a7b-f180-4ec9-a1e0-36bddd6406d7/img/6728382b95fc0/original.jpg" alt="" data-structure="e-img" style="">
                    </div>
                    <div class="u-mbmd pera1-removable">
                      <div data-structure="e-text" class="pera1-editable"></div>
                    </div>
                  </div>
                  <div class="col-xs-9 col-md pera1-removable">
                    <div class="p-others-conversational-text__partner-voice c-inner u-align-left">
                      <div class="u-mbmd">
                        <div data-structure="e-text" class="pera1-editable">どうして還元してくれるの？</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-others-conversational-text__myself col-sm-6 col-xs-12 u-mbsm pera1-removable">
              <div class="grid-wrapper">
                <div class="row">
                  <div class="col-xs-9 col-md pera1-removable">
                    <div class="p-others-conversational-text__myself-voice c-inner u-align-left">
                      <div class="u-mbmd">
                        <div data-structure="e-text" class="pera1-editable"><div>
<p>声で始まる通話アプリとして、声のトーンや話し方など、見た目ではわからない部分の良さをお互いに伝えられる。</p>
<p>そんな通話マッチングアプリを成立させるためです。</p>
<p>利用してくれる女性がいなければ男性はトークを楽しめません。<br><br>女性がいないと、やらせのような女性がいなければ成り立たなくなります。<br><br>だからおしゃべりさんはアプリを楽しんでおしゃべりしてくれた女性にはまたご利用いただきたいのでプレゼントを行っております。<br><br>これにより皆さんおしゃべりを楽しみ、一期一会を楽しみ、良い縁にもつながると信じています。</p>
<p>女性もおしゃべりを楽しんで出会いを求めながら、アマギフももらえるので良い事の連鎖が起きると考えて実施しています。</p>
<p>数あるマッチングアプリに飽きたらぜひおしゃべりさんをご利用してみてください。</p>
</div></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-3 col-md-4 basis-auto-md pera1-removable">
                    <div class="c-img c-img--responsive c-img--circle u-align-center u-mbsm"><img class="pera1-editable" src="//cdn.peraichi.com/userData/153b4a7b-f180-4ec9-a1e0-36bddd6406d7/img/6728382ba1c68/original.jpg" alt="" data-structure="e-img" style="">
                    </div>
                    <div class="u-mbmd pera1-removable">
                      <div data-structure="e-text" class="pera1-editable"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="row-item-gutter--lg center-xs center-reset--2col pera1-removable" data-elem-name="p-others-conversational-text">
            <div class="p-others-conversational-text__partner col-sm-6 col-xs-12 u-mbsm pera1-removable">
              <div class="grid-wrapper">
                <div class="row">
                  <div class="col-xs-3 col-md-4 basis-auto-md pera1-removable">
                    <div class="c-img c-img--responsive c-img--circle u-align-center u-mbsm"><img class="pera1-editable" src="//cdn.peraichi.com/userData/153b4a7b-f180-4ec9-a1e0-36bddd6406d7/img/6728382b9e4c8/original.jpg" alt="" data-structure="e-img" style="">
                    </div>
                    <div class="u-mbmd pera1-removable">
                      <div data-structure="e-text" class="pera1-editable"></div>
                    </div>
                  </div>
                  <div class="col-xs-9 col-md pera1-removable">
                    <div class="p-others-conversational-text__partner-voice c-inner u-align-left">
                      <div class="u-mbmd">
                        <div data-structure="e-text" class="pera1-editable">今だけ限定なの？</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-others-conversational-text__myself col-sm-6 col-xs-12 u-mbsm pera1-removable">
              <div class="grid-wrapper">
                <div class="row">
                  <div class="col-xs-9 col-md pera1-removable">
                    <div class="p-others-conversational-text__myself-voice c-inner u-align-left">
                      <div class="u-mbmd">
                        <div data-structure="e-text" class="pera1-editable"><p>今だけの限定企画ではなく、常に開催している企画になりますので、継続して楽しくおしゃべりして出会いを楽しみながらアマギフももらえてお得に楽しめます。</p></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-3 col-md-4 basis-auto-md pera1-removable">
                    <div class="c-img c-img--responsive c-img--circle u-align-center u-mbsm"><img class="pera1-editable" src="//cdn.peraichi.com/userData/153b4a7b-f180-4ec9-a1e0-36bddd6406d7/img/6728382ba1c68/original.jpg" alt="" data-structure="e-img" style="">
                    </div>
                    <div class="u-mbmd pera1-removable">
                      <div data-structure="e-text" class="pera1-editable"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><div class="row-item-gutter--lg center-xs center-reset--2col pera1-removable" data-elem-name="p-others-conversational-text">
            <div class="p-others-conversational-text__partner col-sm-6 col-xs-12 u-mbsm pera1-removable">
              <div class="grid-wrapper">
                <div class="row">
                  <div class="col-xs-3 col-md-4 basis-auto-md pera1-removable">
                    <div class="c-img c-img--responsive c-img--circle u-align-center u-mbsm"><img class="pera1-editable" src="//cdn.peraichi.com/userData/153b4a7b-f180-4ec9-a1e0-36bddd6406d7/img/6728382b95fc0/original.jpg" alt="" data-structure="e-img" style="">
                    </div>
                    <div class="u-mbmd pera1-removable">
                      <div data-structure="e-text" class="pera1-editable"></div>
                    </div>
                  </div>
                  <div class="col-xs-9 col-md pera1-removable">
                    <div class="p-others-conversational-text__partner-voice c-inner u-align-left">
                      <div class="u-mbmd">
                        <div data-structure="e-text" class="pera1-editable"><div>最初の10分以後も10分毎にアマギフがもらえるの？</div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-others-conversational-text__myself col-sm-6 col-xs-12 u-mbsm pera1-removable">
              <div class="grid-wrapper">
                <div class="row">
                  <div class="col-xs-9 col-md pera1-removable">
                    <div class="p-others-conversational-text__myself-voice c-inner u-align-left">
                      <div class="u-mbmd">
                        <div data-structure="e-text" class="pera1-editable"><p>はい。<br>通常30分話して30Pを貯めてもらってからですが、現在は10Pからアマギフ申請可能です。<br>30分で30Pたまれば1500円分のアマギフがもらえます。</p></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-3 col-md-4 basis-auto-md pera1-removable">
                    <div class="c-img c-img--responsive c-img--circle u-align-center u-mbsm"><img class="pera1-editable" src="//cdn.peraichi.com/userData/153b4a7b-f180-4ec9-a1e0-36bddd6406d7/img/6728382ba1c68/original.jpg" alt="" data-structure="e-img" style="">
                    </div>
                    <div class="u-mbmd pera1-removable">
                      <div data-structure="e-text" class="pera1-editable"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><div class="row-item-gutter--lg center-xs center-reset--2col pera1-removable pera1-ghost pera1-add pera1-multiple" data-elem-name="p-others-conversational-text" data-nosnippet="" style="opacity: 0; height: 50px;">
            <div class="p-others-conversational-text__partner col-sm-6 col-xs-12 u-mbsm pera1-removable">
              <div class="grid-wrapper">
                <div class="row">
                  <div class="col-xs-3 col-md-4 basis-auto-md pera1-removable">
                    <div class="c-img c-img--responsive c-img--circle u-align-center u-mbsm"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/default/im_image_square2.svg" alt="" data-structure="e-img">
                    </div>
                    <div class="u-mbmd pera1-removable">
                      <div class="pera1-editable" data-structure="e-text">サンプル 太郎</div>
                    </div>
                  </div>
                  <div class="col-xs-9 col-md pera1-removable">
                    <div class="p-others-conversational-text__partner-voice c-inner u-align-left">
                      <div class="u-mbmd">
                        <div class="pera1-editable" data-structure="e-text">ここをクリックして表示したいテキストを入力してください。テキストは「右寄せ」「中央寄せ」「左寄せ」といった整列方向、「太字」「斜体」「下線」「取り消し線」、「文字サイズ」「文字色」「文字の背景色」など細かく編集することができます。</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-others-conversational-text__myself col-sm-6 col-xs-12 u-mbsm pera1-removable">
              <div class="grid-wrapper">
                <div class="row">
                  <div class="col-xs-9 col-md pera1-removable">
                    <div class="p-others-conversational-text__myself-voice c-inner u-align-left">
                      <div class="u-mbmd">
                        <div class="pera1-editable" data-structure="e-text">ここをクリックして表示したいテキストを入力してください。テキストは「右寄せ」「中央寄せ」「左寄せ」といった整列方向、「太字」「斜体」「下線」「取り消し線」、「文字サイズ」「文字色」「文字の背景色」など細かく編集することができます。</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-3 col-md-4 basis-auto-md pera1-removable">
                    <div class="c-img c-img--responsive c-img--circle u-align-center u-mbsm"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/default/im_image_square2.svg" alt="" data-structure="e-img">
                    </div>
                    <div class="u-mbmd pera1-removable">
                      <div class="pera1-editable" data-structure="e-text">サンプル 太郎</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div></div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-balloon--invert" data-block-name="吹き出し(色あり)" id="section-13" data-optional-block-settings-key="6">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="5">
    <div class="c-wrapper">
      <div class="p-heading__inner">
        <div class="c-heading p-heading-balloon p-heading-balloon--invert">
          <h2 data-structure="e-heading" class="pera1-editable"><div><strong>女性利用者の声</strong></div></h2>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-premium-sentence-merit" data-block-name="メリット" id="section-14" data-optional-block-settings-key="7">
  <div class="c-bg-color c-bg-img--cover pera1-bg-editable" data-bg-key="6">
    <div class="c-wrapper">
      <div class="c-inner c-inner--lg c-inner--vertical c-inner--one-elem">

        <div class="p-premium-sentence-merit pera1-removable" data-structure="m-premium-merit-item">
          <div class="p-premium-sentence-merit__header c-inner c-inner--one-elem middle-xs pera1-removable">
            <div class="p-premium-sentence-merit__label pera1-removable">
              <div data-structure="e-text" class="pera1-editable">Voice</div>
            </div>
            <div class="p-premium-sentence-merit__title u-fsxl pera1-removable">
              <div data-structure="e-text" class="pera1-editable">他のマッチングアプリからの乗り換えです。</div>
            </div>
          </div>
          <div class="p-premium-sentence-merit__description c-inner pera1-removable">
            <div class="u-mbmd">
              <div data-structure="e-text" class="pera1-editable"><div>他のマッチングアプリをいくつか使っていましたが見た目重視や遊び目的、業者さんや詐欺のような人も多くて嫌気がさしてしまいました。<br><br>おしゃべりさんは見た目ではなく、<span style="color: #f27e18;">声から始まり、友達と話す感覚でスタート</span>できるので気が楽でした。<br><br>出会いを探しながら、寂しい時は色んなお話もできて、話し終わったら<span style="color: #f27e18;">アマギフが貰える</span>なんて私にとっては<span style="color: #f27e18;">一石二鳥</span>です。<br><br>私みたいな人はしてみるといいと思います。</div></div>
            </div>
          </div>
        </div>
        <div class="p-premium-sentence-merit pera1-removable" data-structure="m-premium-merit-item" data-elem-name="premium-sentence-merit">
          <div class="p-premium-sentence-merit__header c-inner c-inner--one-elem middle-xs pera1-removable">
            <div class="p-premium-sentence-merit__label pera1-removable">
              <div data-structure="e-text" class="pera1-editable">Voice</div>
            </div>
            <div class="p-premium-sentence-merit__title u-fsxl pera1-removable">
              <div data-structure="e-text" class="pera1-editable"><div>シングルマザーの私には最高のアプリ</div></div>
            </div>
          </div>
          <div class="p-premium-sentence-merit__description c-inner pera1-removable">
            <div class="u-mbmd">
              <div data-structure="e-text" class="pera1-editable">私はシングルマザーなのでなかなか出会いがほしくても子供の世話で時間がありません。<br><br>おしゃべりさんは<span style="color: #f27e18;">通話アプリ</span>なので、好みや趣味があう人とまさにおしゃべりしながら仲を深めていくので私には向いていました。<br><br>スピーカーにしてお話もできて子供の面倒も見ながら話せる上に、<span style="color: #f27e18;">アマギフまでもらえるの</span>でアマギフはありがたく子供にかかる物を買わせてもらっているのでありがたいです。<br><br>出会いも探せて色々な物の足しにもできるので最高です。</div>
            </div>
          </div>
        </div><div class="p-premium-sentence-merit pera1-removable pera1-ghost pera1-add pera1-multiple" data-structure="m-premium-merit-item" data-elem-name="premium-sentence-merit" style="opacity: 0; height: 50px;" data-nosnippet="">
          <div class="p-premium-sentence-merit__header c-inner c-inner--one-elem middle-xs pera1-removable">
            <div class="p-premium-sentence-merit__label pera1-removable">
              <div class="pera1-editable" data-structure="e-text">メリット</div>
            </div>
            <div class="p-premium-sentence-merit__title u-fsxl pera1-removable">
              <div class="pera1-editable" data-structure="e-text">ここをクリックして表示したいテキストを入力してください。</div>
            </div>
          </div>
          <div class="p-premium-sentence-merit__description c-inner pera1-removable">
            <div class="u-mbmd">
              <div class="pera1-editable" data-structure="e-text">ここをクリックして表示したいテキストを入力してください。テキストは「右寄せ」「中央寄せ」「左寄せ」といった整列方向、「太字」「斜体」「下線」「取り消し線」、「文字サイズ」「文字色」「文字の背景色」など細かく編集することができます。テキストテキストテキストテキストテキストテキストテキストテキストテキスト...。テキストテキストテキストテキストテキストテキストテキストテキストテキスト...。テキストテキストテキストテキストテキストテキストテキストテキストテキスト...。</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-balloon--invert" data-block-name="吹き出し(色あり)" id="section-15" data-optional-block-settings-key="8">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="7">
    <div class="c-wrapper">
      <div class="p-heading__inner">
        <div class="c-heading p-heading-balloon p-heading-balloon--invert">
          <h2 data-structure="e-heading" class="pera1-editable"><strong>おしゃべりさん。</strong></h2>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article-profile" data-block-name="プロフィール" id="section-16" data-optional-block-settings-key="9">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="8">
    <div class="c-wrapper c-wrapper--sm u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div class="c-heading c-heading--block-main u-mbmd pera1-removable">
          <h2 data-structure="e-heading" class="pera1-editable"><div><strong>おしゃべりさん運営</strong></div></h2>
        </div>
        <div class="c-img c-img--responsive c-img--circle u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/153b4a7b-f180-4ec9-a1e0-36bddd6406d7/img/6728382ba1c68/original.jpg" alt="" data-structure="e-img" style="">
        </div>

        <div class="u-mbmd pera1-removable">
          <div data-structure="e-text" class="pera1-editable"><p>おしゃべりさんは、日本全国の男女が地域関係なく、<span style="color: #f27e18;">声のトーンや話し方</span>、<span style="color: #f27e18;">見た目ではわからない部分の良さ</span>をお互いに伝えられる<span style="color: #f27e18;">通話マッチングアプリ</span>です。</p>
<p>マッチングアプリに飽きた人へ</p>
<p><span style="color: #f27e18;" data-custom-sp-fontsize="16px">新提案</span>、<span style="color: #f27e18;" data-custom-sp-fontsize="16px">新定番</span>の通話アプリです。</p></div>
        </div>
        <ul class="c-list-horizon u-mbmd pera1-removable">
          
          <li class="pera1-removable">
            <div class="c-img c-img--responsive c-img-icon c-img-icon--circle"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/default/ic_twitter_white.svg" alt="" width="40" data-structure="e-img">
            </div>
          </li>
          <li class="pera1-removable" data-elem-name="btns-img--icon">
            <div class="c-img c-img--responsive c-img-icon c-img-icon--circle"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/default/ic_envelope_white.svg" alt="" width="40" data-structure="e-img">
            </div>
          </li><li class="pera1-removable pera1-ghost pera1-add pera1-multiple" data-elem-name="btns-img--icon" style="opacity: 0; height: 50px;" data-nosnippet="">
            <div class="c-img c-img--responsive c-img-icon c-img-icon--circle"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/default/ic_envelope_white.svg" alt="" width="40" data-structure="e-img">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

  
  <style>
   .link-container {
  background-color: #A1BFAE;
  position: sticky;
  top: 0;
  width: 100%;
  color: black;
  max-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
  
    .applink {
      max-height: 300px;
      color: white;
      font-size: large;
      padding: 10px;
      border-radius: 10px;
      text-align: center;
      margin-right: 10px;
      overflow: hidden;
      word-break: break-word;
    }
  
    .link-image {
      
      margin: 0;
    }
  
    @media screen and (max-width: 600px) {
        .link-container {
    flex-direction: column;
    align-items: center;
  }

  .applink {
    margin-bottom: 10px;
    font-size: medium;
    padding: 5px;
  }

  .link-image {
    width: 100%;
    max-width: 150px;
    height: 50px;
    margin-bottom: 55px; /* add margin: 0 auto to center the image */
  }
    }
  </style>

<div class="s_footer-peraichi pera1-section block" data-structure="b-footer" data-block-name="フッター" id="section-1" data-optional-block-settings-key="10">
          <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="9">
            <div class="c-wrapper c-wrapper">
              <div class="p-footer__inner">
                <div class="u-align-center">
                      <div data-structure="e-text" class="pera1-editable"><div>Copyright 2024 おしゃべりさん。運営事務局</div></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        




























































<script id="tmpl_nav" type="text/x-template">
          <ul class="nav nav-pills nav-stacked">
          <% _.each(sections, function(section) { %>
          <li><a href="#<%= section.id %>"><%= section.name %></a></li>
          <% }) %>
          </ul>
        </script>
<script id="template_html" type="text/x-template"></script><script src="https://analytics.peraichi.com/scripts/beacon.min.js?tracking_codes=wqLw1Hp43Ec2byn"></script></body></html>
